DB_HOST=localhost
DB_NAME=asena_pharmacy
DB_USER=root
DB_PASS=

# Meli Payamak Configuration
MELIPAYAMAK_USERNAME=09146676978
MELIPAYAMAK_PASSWORD=d3cbc1e6-79e8-4a25-910e-35e86370cad0
MELIPAYAMAK_API_KEY=d3cbc1e6-79e8-4a25-910e-35e86370cad0
MELIPAYAMAK_FROM=2170007653
